[app]
APP_DOMAIN = {{site_fqdn}}

[postgresql]
WPTDASH_DB = {{db_name}}
WPTDASH_DB_USER = {{db_user}}
WPTDASH_DB_PASS = {{db_password}}

[Travis]
# Make sure you use the correct config URL, the .org and .com
# have different keys!
# TRAVIS_DOMAIN = travis-ci.com
TRAVIS_DOMAIN = travis-ci.org
COMMENT_ENV_VAR = COMMENT_BOT

[GitHub]
GH_COMMENTER = {{github_commenter}}
GH_TOKEN = {{github_commenter_token}}
GH_WEBHOOK_TOKEN = {{github_webhook_token}}
ORG = {{github_org}}
REPO = {{github_repo}}
