# {{project_name}}_uwsgi.ini file
[uwsgi]

# process-related settings
socket          = /tmp/{{project_name}}.sock
chdir           = {{site_path}}
master          = true
module          = wptdash.prodapp:prod_app
processes       = 1
logger          = file:{{site_path}}/logs/uwsgi.log
vacuum          = true
enable-threads  = true
die-on-term     = true
lazy            = true
lazy-apps       = true
virtualenv      = {{base_path}}/venv
